<nav class="navbar navbar-default">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div  id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Dashboard <span class="sr-only">(current)</span></a></li>
        <li><a href="#">New Reservation</a></li>
        <li><a href="#">New Assign Room</a></li>
        <li><a href="#">Search</a></li>
         <li><a href="#">Reports</a></li>
         <li><a href="#">Tentative Order</a></li>
         <li><a href="#">Invoice Search</a></li>
         <li><a href="#">Profiles</a></li>
         <li><a href="#">Release</a></li>
          <li><a href="#">Vouchers</a></li>
        
        
      </ul>
     
      </div><!-- /.navbar-collapse -->
  <!-- /.container-fluid -->
</nav>